RewriteEngine On # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^index/?$ index.php [NC,L]
#admin

RewriteRule ^dashboard/?$ index.php?page=_dashboard [NC,L]
RewriteRule ^about/?$ index.php?page=_about [NC,L]
RewriteRule ^course/?$ index.php?page=_course [NC,L]
RewriteRule ^students/?$ index.php?page=_students [NC,L]
RewriteRule ^lessons/?$ index.php?page=_lessons [NC,L]
RewriteRule ^lessons_add/?$ index.php?page=_lessons_add [NC,L]
RewriteRule ^materials/?$ index.php?page=_materials [NC,L]
RewriteRule ^view_materials/?$ index.php?page=_view_materials [NC,L]
RewriteRule ^activities/?$ index.php?page=_activities [NC,L]
#users

#RewriteRule ^([^\.]+)$ $1.php [NC,L]
#RewriteRule ^index/([0-9]+)/([0-9a-zA-Z_-]+) index.php?page=$1 [NC]
RewriteRule ^index/([0-9a-zA-Z_-]+) index.php?page=$1 [NC]